<!DOCTYPE html>

<html lang="en">
  <meta charset="UTF-8" />
  <footer class="text-light bg-primary text-lg-start">
    <section class="d-flex justify-content-between p-4 bg-dark">
      <span class="me-5">Connect with us on social media:</span>
      <address>
        <a href="https://facebook.com" class="text-light me-4"><i
            class="fa-brands fa-facebook fa-xl"
            title="Open our Facebook page"
          ></i></a>
        <a href="https://twitter.com" class="text-light me-4"><i
            class="fa-brands fa-twitter fa-xl"
            title="Open our twitter page"
          ></i></a>
        <a href="https://instagram.com" class="text-light me-4"><i
            class="fa-brands fa-instagram fa-xl"
            title="Open our Instagram page"
          ></i></a>
        <a href="https://linkedin.com" class="text-light me-4"><i
            class="fa-brands fa-linkedin fa-xl"
            title="Open our Linkedin page"
          ></i></a>
      </address>
    </section>

    <section>
      <div class="container text-left text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6>SurvAye</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" />
            <p>Create free and easy to use surveys for everything from research
              to party planning!</p>
          </div>

          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6>Navigate</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" />
            <p><a class="text-light" href="">Home</a></p>
            <p><a class="text-light" href="">About</a></p>
            <p><a class="text-light" href="">Browse Surveys</a></p>
            <p><a class="text-light" href="">Create New Surveys</a></p>
          </div>

          <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6>Contact Us</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" />
            <i class="fa-solid fa-house"></i>
            <p class="text-left">
                123 Main Street
                <br />
                Worcester,MA 01609, USA
            </p>
            <i class="fa-solid fa-phone" style="text-align:left; width:100%;"></i>
            <p>+1(508)831-5931</p>
            <a class="text-light me-4" href="mailto:its@wpi.edu">
                <i class="fa-solid fa-envelope pr-1"></i>
                <p>survayeContact@Survaye.com</p>
            </a>
            
          </div>

        </div>

      </div>

      <div class="text-center p-3 bg-primary border-top border-light">
        <p class="small">
        The information on this site is fictious and not represenative of any
        real product or service.<br />This site was created for educational
        purposes.
        </p>
      </div>
    </section>

  </footer>
</html>