<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CS4241 Assignment 2</title>
    <meta charset="utf-8" />
    <script src="./public/client.js"></script>
    <link rel="stylesheet" href="./public/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Mukta:wght@200&display=swap" />
  </head>

  <body>
    <h1>Login</h1>
    
    <div class="container">
      <form action="">
        <input type="text" id="username" placeholder="username" />
        <br />
        <input type="text" id="password" placeholder="password" />
        <br />
        <button id="login_btn">Login</button>
        {{{msg}}}
      </form>
    </div>
    
  </body>
</html>
