/*Style your own assignment! This is fun! */

body{padding: 4.5rem;
    margin: 0;
    background: #edc0bf;
    
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
     background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    font-family: 'Inter', sans-serif;}
  
  
  table {
    border-collapse: collapse;
    border: 2px solid black;
    letter-spacing: 1px;
    width: 90%;
  }
  
  th, td {
    border: 1px solid;
      padding: 20px;
  }
  
  
  #blogText {
    margin-left: 100px;
    margin-right:  100px;
    padding: 10px;
    line-height: 1.6; 
    text-indent:2em; 
   }
  
  #buttons {
      display: flex;
    background-color: #f49097;
    color: #083d77;
    font-weight: bold;
    text-decoration: none;
  
    align-items: center;
    padding: 10px;
    height: 30px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
       background: rgba(255, 255, 255, .7);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      text-align: center;
    border-radius: 1rem;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  #mainTitle {
    text-align: center;
    vertical-align:top;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Silkscreen', cursive;
    font-size: 2em;
    color: #f4a83a;
    text-shadow: 0 4px 0 #333333;
    background: url("../images/title.png") no-repeat fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    height: 230px;
    margin-top: -80px;
  }
  
  #review{
    padding: 2rem;
    font-family: 'Silkscreen', cursive;
  }
  #resultTable {
    margin-left: 30px;
    margin-right:30px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, .7);
                -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
    border-radius: 1rem;
  }
  #textboxid
  {
      height:200px;
      font-size:14pt;
  }
  
  .autoMargin {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .centerText {
    text-align: center;
    margin-top: 10px; 
    justify-content: space-around;
  }
  
  
  .card {
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 10px;
    /* other styles */
      background: rgba(255, 255, 255, .7);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .card-title {
    margin-top: 0;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    font-family: 'Silkscreen', cursive;
  }
  
  .deleteButton {
              text-decoration: none;
              border: none;
              padding: 12px 40px;
              font-size: 16px;
              background: rgba(255, 255, 255, .7);
  
    
  }.deleteButton:active {
              transform: scale(0.98);
              /* Scaling button to 0.98 to its original size */
              box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
              /* Lowering the shadow */
          }
  .submitButton {
              text-decoration: none;
              border: none;
              padding: 12px 40px;
              font-size: 16px;
              background: rgba(255, 255, 255, .7);
                -webkit-backdrop-filter: blur(10px);
                backdrop-filter: blur(10px);
              color: black;
              border-radius: 5px;
              box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
              cursor: pointer;
              outline: none;
              transition: 0.2s all;
              text-align: center;
          }
          /* Adding transformation when the button is active */
            
          .submitButton:active {
              transform: scale(0.98);
              /* Scaling button to 0.98 to its original size */
              box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
              /* Lowering the shadow */
          }
  

          .header-footer-background {
            background-image: url("../images/title.png");
            background-color: #f5e960;
            height: 250px;
            background-repeat: no-repeat;
            background-position: center;
            
        }
          .responses-background {
            background-color: #f3ffbd;
        }
  
  
  
  
  
  