<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>SurvAye:Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
     <link href="/css/bootstrap.css" rel="stylesheet"/>
  </head>

  
  <body class="d-flex flex-column min-vh-100">
    {{>header}}
    <main>
      <br/>
      <section class="jumbotron bg-secondary">
        <h3>Understand your <span class="text-info">team</span></h3>
        <hr class="my-4">
        <p>SurvAye provides summary statistics to gain better insights into your team's mindset and generate synergy within your groups.</p>
      </section>


    </main>
    {{>footer}}
  </body>
  
</html>