<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="survey regarding Phineas and ferb" />
    <title>SurvAye:SurveyEntry</title>
    {{!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    /> --}}
    <link href="/css/bootstrap.css" rel="stylesheet" />
  </head>

  <body class="d-flex flex-column min-vh-100 overflow-auto">
    {{>header}}
    <main class="w-75 m-auto d-flex flex-column justify-content-center py-2">
      <p class="fs-3" class>CS4241 Class Survey</p class="fs-3">
      <form id="perrySurvey" class="w-75 m-auto" action="/submitSurvey" method="POST">

        <fieldset>
          <legend>Particpant Infromation</legend>
          <div class="name">
            <label for="fName">First Name:</label>
            <input type="text" id="fName" value="First Name" name="fName" />
            <br /><br />
            <label for="lName">Last Name:</label>
            <input type="text" id="lName" value="Last Name" name="lName" />
            <br /><br />
          </div>
        </fieldset>
        <fieldset
          class="m-auto d-flex flex-column justify-content-center py-2 form-group"
        >
          <legend>Major</legend>

          <div
            class="m-auto d-flex flex-column justify-content-center py-2"
            style="width:95%"
          >
            <label for="majorCS" class="form-check-label">
              <input
                id="majorCS"
                type="checkbox"
                name="majorCS"
                value="true"
                class="form-check-input"
              />
              Computer Science
            </label>
            <label for="majorRBE" class="form-check-label">
              <input
                id="majorRBE"
                type="checkbox"
                name="majorRBE"
                value="true"
                class="form-check-input"
              />
              Robotics Engineering
            </label>
            <label for="majorME" class="form-check-label">
              <input
                id="majorME"
                type="checkbox"
                name="majorME"
                value="true"
                class="form-check-input"
              />
              Mechanical Engineering
            </label>
            <label for="majorECE" class="form-check-label">
              <input
                id="majorECE"
                type="checkbox"
                name="majorECE"
                value="true"
                class="form-check-input"
              />
              Electrical and Computer Engineering
            </label>
            <label for="majorID" class="form-check-label">
              <input
                id="majorID"
                type="checkbox"
                name="majorID"
                value="true"
                class="form-check-input"
              />
              Interpretative Dance
            </label>
            <label for="majorOther" class="form-check-label">
              <input
                id="majorOther"
                type="checkbox"
                name="majorOther"
                value="true"
                class="form-check-input"
              />
              Other
            </label>
          </div>
        </fieldset>

        <fieldset class="radioIOSCont">
          <legend>How Likely are You to Recommend Outlook for IOS?</legend>
          <label><input type="radio" id="hUn" name="outlookRadio" value="0" />
            Highly Unlikely</label>
          <label><input type="radio" id="un" name="outlookRadio" value="1" />
            Unlikely</label>
          <label><input type="radio" id="li" name="outlookRadio" value="2" />
            Likely</label>
          <label><input type="radio" id="hLi" name="outlookRadio" value="3" />
            Highly Likely</label>
        </fieldset>

        <br />
        <fieldset class="radioPlatypus">
          <legend>Please Identify the Following</legend>
          <img src="Perry_Platypus.webp" alt="a normal platypus" class='w-75 h-25'/>

          <div
            class="m-auto d-flex flex-column justify-content-center py-2"
            style="width:95%"
          >
            <label><input
                type="radio"
                id="platypus"
                name="platypus"
                value="3"
              />
              a platypus?</label>
            <label><input type="radio" id="niceB" name="platypus" value="2" />
              a nice boi</label>
            <label><input type="radio" id="trustA" name="platypus" value="1" />
              a trustworthy acquaintance</label>
            <label><input type="radio" id="unsure" name="platypus" value="0" />
              unsure</label>
          </div>
        </fieldset>

        <br />
        <fieldset class="radioPerry">
          <legend>Please Identify the Following</legend>
          <img
            src="Perry_THE_Platypus.webp"
            alt="Perry the Platypus from the Disney Channel show Phineas and Ferb."
            class="w-75 h-25"
          />
          <div
            class="m-auto d-flex flex-column justify-content-center py-2"
            style="width:95%"
          >
            <label><input type="radio" id="shiftyB" name="perry" value="0" />
              a shifty boi</label>
            <label><input type="radio" id="PERRY" name="perry" value="3" />
              PERRY THE PLATYPUS!!</label>
            <label><input type="radio" id="panda" name="perry" value="2" />
              a panda bear</label>
            <label><input
                type="radio"
                id="unsurePerry"
                name="perry"
                value="1"
              />
              unsure</label>
          </div>
        </fieldset>

        <button id="submitBtn">submit</button>
      </form>
    </main>
    <script>
      window.onload = function(){
          const submitBtn = document.querySelector("[id = 'submitBtn']")
          submitBtn.onclick = submitSurvey;
        }

      const submitSurvey = (e)=>{
          console.log("SENDING")
          e.preventDefault();
          const data = new FormData(document.getElementById("perrySurvey"));
          const json1 = Object.fromEntries(data.entries());
          body = JSON.stringify(json1)
          console.log(body)
          fetch("/submitSurvey", {
            method: "POST",
            body
          })
          .then((response)=>{
            if(response.redirected)
              window.location = response.url;
          })
        }
    </script>
    {{>footer}}
  </body>

</html>