<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.11/mvp.css">
  <title>log in now with github or else</title>
</head>
<body>
  <div>
    <h1> log in or else ! </h1>
    <a href="/auth/github" type="button">log in with github or else now</a>
  </div>
</body>
</html>