<!doctype html>
<html lang="en">
  <head>
    <title>cs4241 a3</title>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rammetto+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
      let tempID = null, tempElement = null;
      function dothething()
      {
          fetch('/data', { method: 'GET', headers: { "Content-Type": "application/json" } })
          .then( response => response.json() )
          .then( json => builder( json[ 0 ].entries ));
      };
      function builder ( json )
      {
          const tbl = document.getElementById( 'datatable' );
          tbl.innerHTML = '<tr><th>title</th><th>genre</th><th>year</th><th>directed by Zack Snyder?</th><th>edit?</th><th>delete?</th></tr>';
          json.forEach(entry => 
          {
              let newRow  = '<tr id = "' + entry.id + '">';
                  newRow += '<th>' + entry.title.toString().toUpperCase() + '</th>';
                  newRow += '<th>' + entry.genre.toString().toUpperCase() + '</th>';
                  newRow += '<th>' + entry.year + '</th>';
                  newRow += '<th>' + zackcheck( entry.title, entry.year ) + '</th>';
                  newRow += '<th><button onclick="updater(' + entry.id + ',' + entry.title + ',' + entry.genre + ',' + entry.year + ');">submit</button></th>';
                  newRow += '<th><button onclick="deleter(' + entry.id + ');">delete?</button></th>';
              datatable.innerHTML += newRow;
          });
      };
      function submitter( e )
      {
          const title = document.getElementById('title'), 
                genre = document.getElementById('genre'), 
                year = document.getElementById('year'), 
                json = { title: title.value, genre: genre.value, year: year.value }, 
                body = JSON.stringify(json);
          fetch('/submit', { method: 'POST', headers: { "Content-Type": "application/json" }, body })
          .then( response => response.json())
          .then(dothething());
          return false;
      };
      function deleter( id )
      {
          const json = { id: x.id }, 
                body = JSON.stringify( json );
          fetch( '/delete', { method: 'POST', headers: { "Content-Type": "application/json" }, body } )
          .then( response => { response.json() })
          .then( dothething() );
          return false;
      };
      function updater( id, title, genre, year )
      {
          if( tempElement != null && tempID != null ) { updatercanceller( tempID ); }
          tempID = id;
          tempElement = document.getElementById('row-'+id);
          let newRow  = '<th>' + id + '</th>';
              newRow += '<th><input type="text"   value="' + title + '"></th>'
              newRow += '<th><input type="text"   value="' + genre + '"></th>'
              newRow += '<th><input type="number" value="' +  year + '"></th>'
              newRow += '<th><button onclick="updatercanceller(' + id + ')>cancel?</button></th>';
              newRow += '<th><button onclick="updatersubmiter(' + id + ')>submit</button></th>';
          tempElement.innerHTML = newRow;
      };
      function updatercanceller( id )
      {
          let title  = document.getElementById( 'title-${tempID}' ).value,
              genre  = document.getElementById( 'genre-${tempID}' ).value,
              year  = document.getElementById(  'year-${tempID}' ).value,
            newRow  = '<th>' + tempID + '</th>';
            newRow += '<th>' + title + '</th>';
            newRow += '<th>' + genre + '</th>';
            newRow += '<th>' + year + '</th>';
            newRow += '<th>' + zackCheck(title, genre) + '<\th>';
            newRow += '<th><button onclick="updater(\'${entry.id}\', \'${entry.title}\', \'${entry.genre}\', \'${entry.year}\');">edit?</button></th>';
            newRow += '<th><button onclick="deleter(\'${entry.id}\');"">delete?</button></th>';
          tempElement.innerHTML = newRow;
          tempElement = null;
          tempID = null;
      };
      function updatersubmitter( id )
      {
          const json = {    id: id,
                        title: document.getElementById('title-'+id).value,
                        genre: document.getElementById('genre-'+id).value,
                          year: document.getElementById( 'year-'+id).value
                      },
                body = JSON.stringify(json);
          fetch( '/update', { method: 'POST', headers: { "Content-Type": "application/json" }, body })
          .then( response => response.json() )
          .then( dothething() );
          tempID = null;
          tempElement = null;
      }
      const zackcheck = function( title, year ) {
        //const years = [ 2000, 2003, 2004, 2006, 2009, 2010, 2011, 2013, 2016, 2019 ];
        //const titles = [ 'ROAD TRIP', 'OLD SCHOOL', 'STARSKY & HUTCH', 'SCHOOL FOR SCOUNDRELS', 'THE HANGOVER',
        //                 'DUE DATE', 'THE HANGOVER PART II', 'THE HANGOVER III', 'WAR DOGS', 'JOKER' ];
          const years = [ 2004, 2007, 2009, 2010, 2011, 2013, 2016, 2017, 2021, 2021 ];
          const titles = [ 'DAWN OF THE DEAD', '300', 'WATCHMEN', 'LEGEND OF THE GUARDIANS: THE OWLS OF GA\'HOOLE',
                          'SUCKER PUNCH', 'MAN OF STEEL', 'BATMAN V SUPERMAN: DAWN OF JUSTICE', 'JUSTICE LEAGUE',
                          'ZACK SNYDER\'S JUSTICE LEAGUE', 'ARMY OF THE DEAD']
          const numFilms = 10;
          title = title.toString().toUpperCase();
          for ( let i = 0 ;  i < numFilms ; i++ ) { if( year == years[ i ] && title == titles[ i ] ) { return 'YES!'; } }
          return 'NO!'; };
      window.onload = function() {
          const submit = document.getElementById( 'submit' );
          submit.onclick = submitter;
          dothething(); };
    </script>
  </head>
  <body>
    <div id="container">
      <div id="form" class="display-box">
        <h1>want to know if a movie is directed by zack snyder?</h1>
        <h2>you're in luck</h2>
        <h3>disclaimer: zack snyder is not very good at making movies</h3>
        <form action="">
          <div class="column">
            <label for="title">movie title:</label>
            <input type="text" id="title" value=""></div>
          <div class="column">
            <label for="genre">genre:</label>
            <input type="text" id="genre" value=""></div>
          <div class="column">
            <label for="year">year of release:</label>
            <input type="number" id="year" value=""></div><br>
          <button id="submit" onclick="window.location.reload();">submit</button></form></div>
      <div id="display" class="display-box">
          <h1>data:</h1>
        <table id="datatable"></table></div></div>
  </body>
</html>
