<div class="input-group mb-3">
    <input
            type="text"
            class="form-control"
            placeholder="New note"
            aria-label="New note"
            aria-describedby="button-addon2"
            id="create-todo-title"
    >
    <button class="btn btn-outline-primary" type="button" id="create-todo-btn">Add</button>
</div>