<!doctype html>
<html lang="en">
<head>
    <title>CS4241 Assignment 2</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aboreto">
    <link rel="stylesheet" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <script type="text/javascript" src="/client.js"></script>
</head>
<body>

<div class="grid-container">
    <div class="header">
        <h1>Climbing Tracker</h1>
        <h2>Insert Climber name, the grade they climbed, and the height of the climb for the difficulty to be automatically
            calculated. Climbers can also be removed by typing their name into the box and clicking remove.</h2>
    </div>
    <div class="forms">
        <form action="" id="addForm">
            <label for="climbName">Name</label>
            <input type="text" id="climbName" placeholder="Name" class="inputField">
            <label for="grade">Grade 5.</label>
            <input type="number" id="grade" placeholder="Grade" class="inputField">
            <label for="height">Height</label>
            <input type="number" id="height" placeholder="Height (in feet)" class="inputField">
            <button id="submitButton">Submit</button>
        </form>

        <form action="" id="removeForm">
            <p>Type a name to remove.</p>
            <label for="removeName">Remove: </label>
            <input type="text" id="removeName" placeholder="Name" class="inputField">
            <button id="removeButton">Remove</button>
        </form>
    </div>
    <div class="chart">
        <table id="dataTable">
            <tr>
                <th>Climber</th>
                <th>Climb Grade</th>
                <th>Climb Height</th>
                <th>Difficulty</th>
            </tr>
        </table>
    </div>

</div>

</body>
</html>
