<!doctype html>
<html lang="en">
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>To-do</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Author: Lena Dias,
    Class: CS 4241, Purpose: To-Do List Manage Items">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    
  </head>
  <body>
    <div class="center">
      <h1>To-Do List</h1>
      <p>To remove an item from the database, make sure the task name AND date match.</p>
      <div class="form">
        <form>
          <label>
            <input type="text" id="taskname" value="Task name">
            <input type="date" id="date" value="Due date" >
            <button id="add">Add to database</button>
            <button id="remove">Remove from database</button>
          </label>
        </form>
      </div>
      <div class="taskTableDiv">
        <table id="taskTable"></table>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  
  </body>
  
  <script src = "/form.js" defer></script>
  
</html>
