<html lang="en">
  <head>
    <style>input { display:block }</style>
  </head>
  <body>
    <form action="/login" method="POST">
      name: <input type="text" name="username" />
      password:<input type="password" name="password" />
      <input type="submit" value="login" />
    </form>
    {{{msg}}}
  </body>
</html>