<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CS4241 Assignment 3</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans">
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <meta charset="utf-8" />

  </head>
  <h1><%=title%></h1>
  <body>
    <% if(githubID == 'signin_with_github'){ %>
      <a class="buttongithub" href="/login/federated/github">Login With Github</a>
    <% } else{ %>  
      <input type="text" id="gID" value="<%=githubID%>" disabled>
   <% } %>

    <div class = "center">
      <form action="">
        <h1 id="loginwarning"></h1>
        <p id = "inputHead">| Task | Days to Complete | Descriotion of the Task |</p>
        <h2>add tasks</h2>
        <input type="text" id="taskInput" value="task" />
      <input type="number" id="daysInput" value="0" />
      <input type="text" id="descriptionInput" value="description" />
      <button onclick="submitfn()">submit</button>
      <h2>delete tasks</h2>
      <input type="text" id="deleteInput" value="enter task to delete" />
      <button onclick="deleteByTask()">delete</button>
    </form>
    <table id="tTable">
      <tr>
        <th>Task</th>
        <th>Days to Complete</th>
        <th>Start Date</th>
        <th>Description</th>
      </tr>
    </table>
    </div>
  </body>
  <script src="/scripts.js"></script>
  </html>
