<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CS4241 Assignment 3</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans">
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <meta charset="utf-8" />

  </head>
  <h1><%=title%></h1>
  <body>
    <a class="buttongithub" href="/login/federated/github">Sign in with github</a>
    <div class = "center">
      <form action="">
        <p id = "inputHead">| Task | Days to Complete | Descriotion of the Task |</p>
      <input type="text" id="taskInput" value="task" />
      <input type="number" id="daysInput" value="0" />
      <input type="text" id="descriptionInput" value="description" />
      <button onclick="submitfn()">submit</button>
    </form>
    <table id="tTable">
      <tr>
        <th>Task</th>
        <th>Days to Complete</th>
        <th>Start Date</th>
        <th>Description</th>
      </tr>
    </table>
    </div>
  </body>
  <script src="/scripts.js"></script>
  </html>
