<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />

    <title>Welcome to ClimbTracker!</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <script src="/auth.js" defer></script>
</head>
<body>
<header>
    <h1>Login</h1>
</header>

<main>
    <h2>Enter your login credentials</h2>

    <form>
        <input
                id="username"
                type="text"
                maxlength="100"
                required
                placeholder="Username"
        />
        <input
                id="password"
                type="text"
                maxlength="100"
                required
                placeholder="Password"
        />

        <button id="loginButton">Login</button>
    </form>

    <section class="disclaimer">
        <p>
            Disclaimer: If the user does not exist, a new user will be created.
        </p>
    </section>
</main>
</body>
</html>
