<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Log In Page" />
  
	<link rel="stylesheet" type="text/css" href="terminalize.css">
	<title>Log In</title>
</head>
<body class="terminalize" style="padding: 0rem; margin: 0rem; background: black">
	<div class="screen scanlines">
		<div class="pannel rounded j-c a-c" id="main">
			<pre> 
 ________   ________          ________  _________  ________  ________  ___  __ 
|\   ___  \|\   __  \        |\   ____\|\___   ___\\   __  \|\   ____\|\  \|\  \
\ \  \\ \  \ \  \|\  \       \ \  \___|\|___ \  \_\ \  \|\  \ \  \___|\ \  \/  /|_
 \ \  \\ \  \ \  \\\  \       \ \_____  \   \ \  \ \ \  \\\  \ \  \    \ \   ___  \
  \ \  \\ \  \ \  \\\  \       \|____|\  \   \ \  \ \ \  \\\  \ \  \____\ \  \\ \  \
   \ \__\\ \__\ \_______\        ____\_\  \   \ \__\ \ \_______\ \_______\ \__\\ \__\
    \|__| \|__|\|_______|       |\_________\   \|__|  \|_______|\|_______|\|__| \|__|
                                \|_________|
			</pre>
				<div class="a-m no-border pannel">
					<form class = "col" action="/login" method="POST">
						<a href="/auth/github" type="button" class="btn">LOGIN WITH GITHUB</a>
					</form>
				</div>
		</div>
	</div>
</body>
</html>