<!doctype html>
<html lang='en'>
    <head>
        <title>CS4241 Assignment 2</title>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 5.0" />
        <meta name=description content="To-do list login page" />
        <link href="/public/pico.min.css" rel = "stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300&family=Kdam+Thmor+Pro&family=Plus+Jakarta+Sans:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Samara's To Do List</h1>
        <h2>Login</h2>
        <h3>If you login with incorrect credentials, a new account will be made</h3>
        {{{msg}}}
        <form id = "login-form" action='/login' method='POST'>
            <input type='text' name='username' placeholder="username">
            <input type='password' name='password' placeholder="password">
            <input type='submit' id = "submitBtn">
        </form>
    </body>
    <footer>Visit <a href="https://samaraholmes.bitbucket.io/"> this website</a> to learn more about the programmer</footer>
</html>