<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>TODO login</title>
	</head>
	<body>
		<a class="button github" href="/login/federated/github">Sign in with github</a>
	</body>
</html>
