<h1 class="center-align">Please Log In Through GitHub</h1>

<a
  href="/auth/github"
  id="github-button"
  class="btn btn-block deep-purple"
>
  <i class="fa fa-github"></i> Sign in with Github
</a>
