<!doctype html>
<html lang='en'>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body>
    <h1>TODO Notes</h1>
    <h2>Login to the site or enter your username and password to create a account below.</h2>
    <form action='/login' method='POST'>
      <label>Username:</label>
      <input type='text' name='username'>
      <label>Password:</label>
      <input type='password' name='password'>
      <input type='submit' value="Login">
    </form>
    <p>{{message}}</p>
  </body>
</html>