<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A3 - Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  
  <body>
    <section class="section is-small">
      <div class="container">
        <h1 class="title is-2 has-text-primary-dark">
          Log in
        </h1>
        <h2 class="subtitle is-4">
          If you enter a username that doesn't exist, a new user will be created
        </h2>
      </div>
    </section>
    
    <section class="section is-small">
      <div class="container">
        <form class="box" action="/login" method="POST">
          <div class="field">
            <label class="label">Username</label>
            <div class="control">
              <input class="input" type="text" placeholder="username" name="username">
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="password" placeholder="********" name="password">
            </div>
          </div>

          <input class="button is-primary" type="submit" value="Login">
        </form>
      </div>
    </section>
    
    <section class="section is-small">
      <div class="container">
        <p class="has-text-danger">
          <%= msg %>
        </p>
      </div>
    </section>
  </body>
</html>


