<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic" />
    <script src="/main.js"></script>
  </head>
  <body>
    <h1>ERG WORKOUT LOGBOOK</h1>
    <form>
      <ul>
        <li>
          <label for="date">Date:</label>
          <input type="text" id="date" value="(mm/dd)" name="date" />
        </li>
        <li>
          <label for="time">Elapsed Time:</label>
          <input type="text" id="time" value="(min)" name="time" />
        </li>
        <li>
          <label for="meters">Total Meters:</label>
          <input type="text" id="meters" value="" name="meters" />
        </li>
        <li class="submit">
          <button class="label" id="submit">Record your workout</button>
          <button class="label" id="logout">Log out of your account</button>
        </li>
      </ul>
    </form>
    <br />
    <section class="logs">
      <div id="logs"></div>
    </section>
  </body>
</html>
