<!doctype html>
<html lang="en">
  <head>
    <script src="js/scripts.js"></script>
      <body>
     </body>
    <title>CS4241 Assignment 3</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link href="../CSS/style.css" rel="stylesheet" type="text/css">
  </head>
  <hgroup>
    <br>
    <br>
  <h1>CatBase</h1>
  <h2>A Cat Image Sharing Site!</h2>
  <br>
  <h3><b><u>{{{msg}}}</u></b><br>

    Upload your cat pictures here by entering your name, the image title, and the image URL below.<br>
    To update an entry, enter the new values in the boxes above, then hit "update" on the row you wish to update! <br>
    To remove an entry, hit "remove" on the row you wish to remove!
  </h3>
  </hgroup>
  <hgroup>
  </hgroup>
  <body>
  <main class="container">
    <form action=""> <!--todo-->
      <input type="text" id="name" placeholder="Photographer Name">
      <input type="text" id="title" placeholder="Image Title">
      <input type="text" id="img" placeholder="Image URL">
      <br>
     <!-- <div class = "uploadbox">
      <h3>Upload Cat Image:</h3>
      <input type="file" id="img" accept="image/*" class = "img_upload">
      </div> -->
    </form>
    <br>
    <br>
    <button id = "submit">Submit</button>
    <br>
      <br>
      <br>
    <table id="groceryData"></table>
    <script src="js/scripts.js">
    </script>
  </main>
  </body>
</html>
