<!DOCTYPE html>
<html lang="en">
  <title> Login project A3</title>
  <meta name="description" content="user information page" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
<!--   <link id="favicon" rel="icon" href="https://cdn.glitch.global/0edfe2e5-87c5-4a8d-a213-384e484e37ff/a3.jpg?v=1664316207356" type="image/x-icon"> -->
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
  <script  src="/scripts.js"></script>
  <body>
    
    <h1>
      {{{msg}}}!
      
    </h1>
    
    
    <h2>
      Please type in the restaurant you want to log along with its rating.
    </h2>
    
    <form>
      <label>
        <label for="data">restaurant:</label>

        <input type="text" name="data" id="data" /><br/>

        <label for="data2">rating out of five</label>

        <input type="text" name="data2" id="data2" /><br />
        <button id="submit-button">submit</button>

      </label>
    </form>
    
  </body>

  <div id="ratings">
  </div>

</html>
