<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@2.1.0/build/pure-min.css">
    <title>Hao Chen Assignment 3</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="POST">
        username:<br>
        <input type="text" id="new_username" name="new_username" required><br>
        password:<br>
        <input type="password" id="new_password" name="new_password" required><br>
        <input type="submit" value="create">
      </form>
      <a href="/">sign in</a>
</body>
</html>