<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>
<body>
<form action="signUp" >
    <label for="signUpUserName">UserName</label>
    <input id="signUpUserName" name="userName" required>

    <label for="signUpPassword">Password</label>
    <input id="signUpPassword" name="password" type="password" required>
    <button>submit</button>
    <br>
</form>
<script src="/signIn.js"></script>
</body>
</html>