html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 50em;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
}

.header-container {
    text-align: center;
}

table {
    color: #555;
    border-collapse: collapse;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 3em;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td:nth-child(4){
    background-color: white;
    border: none;
    text-align: right;
    width: 1%;
}

td:nth-child(1){
    width: 1%;
}

td:nth-child(3){
    width: 1%;
    font-style: italic;
}

td, th {
    border: 1px solid #ddd;
    border-right: none;
    border-left: none;
    padding: 8px;
}

#add-task-button {
    background-color: white;
    color: black;
    border: 2px solid slategray;
    border-radius: 15%;
}

#add-task-button:hover {
    background-color: lightgray;
}

#add-task-button:active {
    background-color: darkgray;
}

.delete-button {
    color: #e81c4f;
    background-color: transparent;
    border-radius: 50%;
}