body {
  font-family: courier;
  background: black;
  color: white;
  text-align:center;
}
#page_title {
  text-align: center;
  font-size: 60px;
}

#add {
  background-color: lightblue;
  border-radius: 49%;
  border-color: black;
  color: black;
  text-align: center;
  font-size: larger;
  margin-left: 20px;
}
table,
th,
tr,
td {
  margin:5%;
  padding:5px;
  border-spacing: 0.5cm;
  border: 1px solid yellow;
  font-size: larger;
  font-family: "Courier New", Courier, monospace;
  text-align:center;
  
}


