
body {
  font-family: Roboto, sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
  background-color: #04349B;
}

h1 {
  font-style: italic;
  color: #366dfd;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}

h3 {
  color: #FFFFFF;
}

p {
  color: #FFFFFF;
}

input {
  border: 1px solid blue;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
}

form button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: .25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
}

form button:hover {
  background-color: cyan;
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}
