:root {
    --dark: #191716;
    --light: #76818E;
    --primary: #717EC3;
}

@font-palette-values --Nabla {
    font-family: Nabla;
    base-palette: 3;
}

body {
    background-color: white;
    user-select: none;
}

h1 {
    font-family: 'Nabla', cursive;
    font-palette: --Nabla;
    text-transform: uppercase;
	font-size: 8vw;
    font-variation-settings: "EDPT" 100;
    letter-spacing: 1rem;
}

h2 {
    color: var(--light);
}