/*h1{
  text-align: center;
  width: 100%;
  font-family: "Oswald", sans-serif;
  color: #32292F;
  background-color: #99E1D9;
  font-size: 3em;
}
h2{
  text-align: center;
  width:100%;
  font-family: "Kanit", sans-serif;
  color: #70ABAF;
  background-color: #F0F7F4;
  font-size: 2em;
}*/
