table{
    border-collapse: collapse;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
}
thead {
    font-weight: bold;
}

td{
    padding: .5rem;
    text-align: center;
    border: 2px solid black;
}

#resultsTable{
    margin: 1rem;
}

section{
    margin:1rem;
}

#container{
    margin: auto;
    width: 50%;
}

.inputField{
    margin-bottom: .5rem;
}

button {
    padding-top: .25rem;
    color: white;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}

.btnSubmit{
    background-color: blue;
}

.btnDelete{
    background-color: red;
}

.btnContainer{
    display: flex;
    justify-content: space-between;
}

.btnContainer > button{
    flex-grow: 1;
    margin: 0 .25rem;
}

.visible {
    display:block;
}

.hidden {
    display: none;
}

tbody tr:hover {
    background-color: azure;
    cursor:pointer;
}


form{
    display: flex;
    flex-direction: column;

}

body {
    font-family: "Roboto", sans-serif;
}

header {
    text-align: center;
}
