html, body {
    width: 100%;
    height: 100%;
}

ol, ul {
  list-style: none;
}

#new-favorite-form {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#login-form {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}