
/*fit to screen*/
html, body {
	height: 100%;
	overflow: visible;
}

/*Expand main div to fill screen*/
#main-sections {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

/*Canvas*/
#canvas-section {
	width: 100%;
	flex-grow: 1;
}

#canvas-container {
	padding: 10px;
	flex-grow: 1;
	overflow: scroll;
}
