*, *::after, *::before {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.row {
    display: flex;
}

.jcsb {
    justify-content: space-between;
}

.aic {
    align-items: center;
}
